* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width:90%;
  margin:0 auto;
}


.main-header, .main-nav {
flex-direction: column;
align-items: center;
color: darkgrey;
font-family: "Rancho",sans-serif;
font-size: 1.2em;
}

 a {
  color: darkgrey;
  font-weight:400;
  text-decoration: none;
}
 a.name  {
  font-weight: bold;
  font-family: "Rancho",sans-serif;
  text-shadow: 4px 2px 3px lightblue;
  color: grey;
  text-align: center;
  display: block;
}


 .main-nav a {
  text-align: center;
  display: block;
  padding:10px;
}

.main-nav li{
  display:block;
  list-style: none;
  text-align: center;
}
.main-nav a:hover {
  color: lightgrey;
  border-bottom: 1px solid aqua;
}

.name:hover {
  color: darkgrey;
  border-bottom: 1px solid darkgrey;
}


img.profile-image {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  border: 1px solid darkgrey;
  border-radius: 10%;
}
#home.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home.profile p {
  font-size: 1.4em;
  font-family: "Rancho",sans-serif;
  padding:10px;
}
.container {
  font-family: "Dosis",sans-serif;
  text-align: center;
  flex: 1;
}
.container p {
  font-size: 1.4em;
}
img {
  max-width:100%;
}

h2 {
  text-transform: uppercase;
  font-size: 1.4em;
}

#portfolio {
  font-weight: bold;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
  #contact {
    text-align: center;
    font-family: "Dosis",sans-serif;
    font-size: 1.4em;
    margin-top: 5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

span {
  font-weight: bold;
}

a.top {
  color: orange;
}
 ul.end  {
   display: hidden;
}


/*media queries*/

@media (min-width: 768px) {
.main-header, .container {
  width:90%;
  margin: 0 auto;
}
.main-header, .main-nav {
  display: flex;
  height: 200px;
  justify-content: space-between;
  font-size: 1.4em;
  border-bottom: transparent;
  }

.main-header {
  flex-direction: row;
  align-items: center;
  display: block;
}

.main-nav {
  margin-top: 3em;
}

a.name {
  font-size: 1.4em;
  width: 140px;
  display: block;
  margin: auto;
  text-align: center;
}

a li {
  font-size: 1.4em;
}

.main-nav a:hover {
  color: lightgrey;
  border-bottom-color: aqua;
}

.name:hover {
  color: slategrey;
  border-bottom-color: aqua;
}

#home.profile  {
  display: flex;
  flex-direction: row;
  border-top: 1px solid orange;
  font-family: "Rancho", sans-serif;
  margin: 10px;
}

#home.profile-image {
  flex: 1 50%;
}
#home.profile p {
  flex: 1 50%;
  order:-1;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  align-self: center;
}

.box {
  flex: 1 250px;
  margin: 10px;
}

.bottom-contact {
display: flex;
justify-content: space-between;
}
a.bottom-contact, ul.end li{
  display: inline;
}

a.top {
  display: none;
}

 ul.end  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding:10px;
  margin:15px;
}
}

@media (min-width: 1024px) {
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header, .container, .bottom-contact {
  width: 90%;
  max-width: 1150px;
}
.main-nav {
  flex-direction: row;
  border-bottom: transparent;
  margin-top: 0;
}

.name:hover {
  color: darkgrey;
  border-bottom: 1px solid aqua;
}

p.profile  {
  order:-1;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.box {
  flex: 1 250px;
  margin:10px;
}

.bottom-contact,
.end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}


ul.end {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}
ul.end li {
  Padding:15px;
  margin:10px;
}
ul.end li, a.bottom-contact {
  display: inline;
}
}
